@import "tailwindcss";

@theme inline {
  --color-toxic: #00FF66;
  --color-crimson: #FF3333;
  --color-void: #080808;
  --font-display: "Syne", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html, body {
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
  font-family: "JetBrains Mono", monospace;
}

* { border-radius: 0px !important; }

::selection { background: #00FF66; color: #000000; }

::-webkit-scrollbar { width: 2px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: rgba(0,255,102,0.2); }
